mark-down pre code {
  --color-default: #24292e;
  --color-keyword: #d73a49;
  --color-class: #953800;
  --color-function: #6f42c1;
  --color-variable: #005cc5;
  --color-string: #032f62;
  --color-symbol: #e36209;
  --color-comment: #6a737d;
  --color-name: #22863a;
  --color-subst: #24292e;
  --color-section: #005cc5;
  --color-bullet: #735c0f;
  --color-emphasis: #24292e;
  --color-strong: #24292e;
  --color-addition: #22863a;
  --color-deletion: #b31d28;
  --bg-default: #ffffff;
  --bg-addition: #f0fff4; 
  --bg-deletion: #ffeef0;
}

@media (prefers-color-scheme: dark) {
  mark-down pre code {
    --bg-default: #22272e;
    --bg-addition: #1b4721; 
    --bg-deletion: #78191b;
    --color-default: #adbac7;
    --color-keyword: #f47067;
    --color-class: #953800;
    --color-function: #dcbdfb;
    --color-variable: #6cb6ff;
    --color-string: #96d0ff;
    --color-symbol: #f69d50;
    --color-comment: #768390;
    --color-name: #8ddb8c;
    --color-subst: #adbac7;
    --color-section: #316dca;
    --color-bullet: #eac55f;
    --color-emphasis: #adbac7;
    --color-strong: #adbac7;
    --color-addition: #b4f1b4;
    --color-deletion: #ffd8d3;
  }
}

mark-down pre code .hljs {
  color: var(--color-default);
  background: var(--bg-default);
}

mark-down pre code .hljs-doctag,
mark-down pre code .hljs-keyword,
mark-down pre code .hljs-meta .hljs-keyword,
mark-down pre code .hljs-template-tag,
mark-down pre code .hljs-template-variable,
mark-down pre code .hljs-type,
mark-down pre code .hljs-variable.language_ {
  color: var(--color-keyword);
}

mark-down pre code .hljs-title,
mark-down pre code .hljs-title.class_,
mark-down pre code .hljs-title.class_.inherited__ {
  color: var(--color-class);
}

mark-down pre code .hljs-title.function_ {
  color: var(--color-function);
}

mark-down pre code .hljs-attr,
mark-down pre code .hljs-attribute,
mark-down pre code .hljs-literal,
mark-down pre code .hljs-meta,
mark-down pre code .hljs-number,
mark-down pre code .hljs-operator,
mark-down pre code .hljs-variable,
mark-down pre code .hljs-selector-attr,
mark-down pre code .hljs-selector-class,
mark-down pre code .hljs-selector-id {
  color: var(--color-variable);
}

mark-down pre code .hljs-regexp,
mark-down pre code .hljs-string,
mark-down pre code .hljs-meta .hljs-string {
  color: var(--color-string);
}

mark-down pre code .hljs-built_in,
mark-down pre code .hljs-symbol {
  color: var(--color-symbol);
}

mark-down pre code .hljs-comment,
mark-down pre code .hljs-code,
mark-down pre code .hljs-formula {
  color: var(--color-comment);
}

mark-down pre code .hljs-name,
mark-down pre code .hljs-quote,
mark-down pre code .hljs-selector-tag,
mark-down pre code .hljs-selector-pseudo {
  color: var(--color-name);
}

mark-down pre code .hljs-subst {
  color: var(--color-subst);
}

mark-down pre code .hljs-section {
  color: var(--color-section);
  font-weight: bold;
}

mark-down pre code .hljs-bullet {
  color: var(--color-bullet);
}

mark-down pre code .hljs-emphasis {
  color: var(--color-emphasis);
  font-style: italic;
}

mark-down pre code .hljs-strong {
  color: var(--color-strong);
  font-weight: bold;
}

mark-down pre code .hljs-addition {
  color: var(--color-addition);
  background-color: var(--bg-addition);
}

mark-down pre code .hljs-deletion {
  color: var(--color-deletion);
  background-color: var(--bg-deletion);
}

mark-down pre code .hljs-char.escape_,
mark-down pre code .hljs-link,
mark-down pre code .hljs-params,
mark-down pre code .hljs-property,
mark-down pre code .hljs-punctuation,
mark-down pre code .hljs-tag {
  /* purposely ignored */
}