nav{
  position: fixed;
  top: 0;
  left: 0;
}

article {
  width: 1000px;
  padding: 10px 20px;
  margin: 20px auto auto 500px;
}

/*----*/

mark-down ul, ol { padding-left: 2em; }
mark-down ul li,
mark-down ul li { list-style: disc; }
mark-down ul ul li { list-style: circle; }
mark-down ul ul ul li { list-style: square; }

ol { 
  margin: 0; 
  padding: 0; 
}

ol[start] {
  padding-left: 2em;
}

ol[start] li { 
  list-style: decimal; 
  margin: 4px 0;
}

ol:not([start]) li { 
  counter-increment: step-counter;
  list-style-type: none;
  padding-left: 4em;
  position: relative;
  margin-bottom: 1.2em;
  line-height: 1.5;
  display: list-item;
  
}
ol:not([start]) li p{ 
  margin: 0;
  line-height: unset;
}

ol:not([start]) li::before {
  content: counter(step-counter);
  position: absolute;
  top: .25rem;
  left: 0;
  width: 2rem;
  height: 100%;
  opacity: .15;
  padding-right: 1em;
  border-right: 1px solid;
  text-align: right;
  font-weight: 600;
  line-height: 1.1;
}

mark-down li {
  margin-top: .25em;
}

mark-down hr {
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

mark-down h1, 
mark-down h2 {
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d8dee4;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

mark-down p {
  line-height: 1.3em;
  margin: 10px 0;
}

mark-down a {
  color: inherit;
}
mark-down a:hover {
  text-decoration: none;
}

mark-down blockquote{
  margin: 0;
  padding: 0 1em;
  color: #656d76;
  border-left: .25em solid #d0d7de;
}

mark-down code {
  background: rgba(175,184,193,0.2);
  display: inline-block;
  padding: .2em .4em;
  border-radius: 0.3em;
}

mark-down pre { 
  margin: 0;
  white-space: pre;
  tab-size: 2;
}

mark-down pre code {
  display: block;
  background: #f1f3f4;
  border: 1px solid #bdbcbc;
  padding: 1em 1.2em;
  border-radius: 0.3em;
  font-family: "Cascadia Mono";
  overflow-x: auto;
}

mark-down table{
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 16px;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

mark-down table tr {
  background-color: #fff;
  border-top: 1px solid #d8dee4;
}

mark-down table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

mark-down table th,
mark-down table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}